<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DummyDB.com - @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DummyDataMaker.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/images/appicon.ico" />
    <style>
        body {
            background-color: #fdc5f5;
            color:#352620;
        }
    </style>
</head>
<body>
    <header>
        <nav style="background-color:#72ddf7; color:#b388eb"
             class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <img src="~/images/dummydbicon.png" height="50" alt="logo"/>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" style="color:#352620" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:#352620" asp-controller="Home" asp-action="GetStarted">Get Started</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="color:#352620" asp-area="" asp-controller="Account" asp-action="Logout">Log Out</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" style="color:#352620" asp-area="" asp-controller="Account" asp-action="Login">Log In</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link" style="color:#352620" asp-area="" asp-controller="Home" asp-action="SiteFlow">Site Flow</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color:#352620" asp-area="" asp-controller="Admin" asp-action="AdminHome">Admin</a>
                        </li>
                    </ul>
                    <div>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <h4>Logged in as: @User.Identity.Name</h4>
                        }
                        else
                        {
                            <h4>Guest View</h4>
                        }
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - DummyDB.com
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
