@{
    ViewData["Title"] = "Home";
}


<h1>DummyDB.com</h1>

Create your own personalized database, tables, class objects, lists and so much more!

<a asp-controller="home" asp-action="GetStarted">
    Click here to get started
</a>