@{
    ViewData["Title"] = "SiteFlow";
}

@*
What type of dummy data would you like to create
Select all that apply
Start by creating your database
<button>Get Started</button>
<button>I don't want to create a database. Skip this step</button>
Choose a name for your database
<input type="text"/>
How many tables do you want to create in your database
*@

<title>Start Creating Dummy Data</title>
<script>
    function OnStep1Complete() {
        alert("Step 1 complete");
    }
    function OnStep2Complete() {
        alert("Step 2 complete");
    }
    function OnStep3Complete() {
        alert("Step 3 complete");
    }
    function OnStep4Complete() {
        alert("Step 4 complete");
    }
    //to add another field textbox input
    function AddAnother() {

        //get all hobbies input boxes
        let fieldList = document.querySelectorAll('.tableField');

        //to get the parent div where we will add a new hobbyBox
        let parentNode = document.getElementById('hobbyBoxLocation');

        let newHobbyBox = CreateNode('input'); //to create a new input
        newHobbyBox.setAttribute("type", "text"); //to make this new input a textbox
        newHobbyBox.setAttribute("class", "hobbyBox"); //to give it a class name hobbyBox
        newHobbyBox.setAttribute("placeholder", "Enter your hobby here"); //to add placeholder text
        newHobbyBox.setAttribute("size", "37"); //to readjust size of textbox
        append(parentNode, newHobbyBox); //to add the new created box to the parent node
        Append(document.getElementById('HobbyBoxLocation'), newHobbyBox);
    }

    //to create a new DOM element of the passed element type
    function CreateNode(element) {
        return document.createElement(element);
    }

    //to add the passed element to the passed parent
    function append(parent, element) {
        return parent.appendChild(element);
    }

</script>
<style>
    .StepSection {
        width: 95%;
        background-color: #72ddf7;
        padding: 20px;
        margin: 10px;
        border-radius: 15px;
    }
</style>
<!--Step 1 - Choose Dummy Data Type -->
<div class="StepSection">
    <h1>Choose Dummy Data Type</h1>
    Select what type of data you want to generate.<br />
    <form onsubmit="OnStep1Complete()">
        <label>Check all that apply and then click create:</label>
        <div>
            <input type="checkbox" name="datatype-selections" id="sqlquery" value="sqlquery" />
            <label for="sqlquery">SQL Query</label> <br />
            <input type="checkbox" name="datatype-selections" id="C#Code" value="C#Code" />
            <label for="C#Code">C# Code</label> <br />
        </div><br />
        <button type="submit">Continue</button><br /><br />
    </form>
</div>

<!--Step 2 - Name your database -->
<div class="StepSection">
    <h1>Name your database</h1>
    <form onsubmit="OnStep2Complete()">
        <input type="text" /><br />
        <button type="submit">Continue</button><br /><br />
    </form>
</div>

<!--Step 3 - How many tables-->
<div class="StepSection">
    <h1>How many tables are in your database</h1>
    <form onsubmit="OnStep3Complete()">
        <input type="number" /><br />
        <button type="submit">Continue</button><br /><br />
    </form>
</div>

<!--Step 4 - Each table's data-->
<div class="StepSection">
    <h1>Enter table data</h1>
    <form onsubmit="OnStep4Complete()">
        <label>Name of table</label>
        <input type="text" /><br />
        <fieldset class="tableField">
            <label>Column/Field Name</label>
            <input type="text" />
            <br />
            <label>Column/Field DataType</label>
            <input type="text" />
            <br />
        </fieldset>
        <br />
        <input type="button" id="btnAddField" value="Add Another Field" width="50" height="50"
               onclick="AddAnother()" />
        <button type="submit">Continue</button><br /><br />
    </form>
</div>

